.cameraWraper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 280px;
	background-color: #fafafa;
  border-radius: 8px;
  text-align: center;
  margin-top: 36px;
  border: 4px solid #FAFAFA;
  border-radius: 4px;
  .cameraShow {
    width: 260px;
    margin: 0 auto;
  }
}
.greenBoder {
  border-color: #79D06C;
}
.lastScan {
  width: 200px;
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 68px;
  &__title {
    margin-bottom: 8px;
  }
  &__content {
    font-family: 'Roboto Mono', monospace;
    background:rgba(255,255,255,1);
    border: 1px solid rgba(230,230,230,1);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
    border-radius: 6px;
    padding: 12px 18px;
  }
}
.cameraNotShow {
  height: 100%;
  padding-top: 44px;
  padding-bottom: 33px;
  img {
    width: 121px;
    margin-bottom: 30px;
  }
  .openCameraButton {
    width: 304px;
    height: 50px;
    line-height: 50px;
    background-image: linear-gradient(315deg, 
      #fae3ad 0%, 
      #e2bd7a 100%);
    border-radius: 6px;
    margin: 0 auto;
    cursor: pointer;
  }
}
.turnOffCameraButton {
  cursor: pointer;
	width: 304px;
  height: 50px;
  line-height: 50px;
	border-radius: 6px;
  border: solid 2px #b59256;
  color: #b59256;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
.container {
  max-width: 940px;
}

.addressList {
  border-radius: 8px;
  border: solid 1px #bebebe;
  min-height: 600px;
  overflow: hidden;
  .addressHeader {
    color: #808080;
    padding-left: 41px;
    padding-right: 12px;
    height: 59px;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttonWraper {
      display: flex;
      .featureButton {
        cursor: pointer;
        color: #000;
        width: 140px;
        height: 36px;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        svg {
          margin-right: 8px;
        }
      }
    }
    @media(max-width: 768px) {
      flex-direction: column;
      height: auto;
      padding: 6px;
      .buttonWraper {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        .featureButton {
          margin-left: 0;
        }
      }
    }
  }
  .noAddress {
    background: #fafafa;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    text-align: center;
  }
}

.addressContent {
  width: 100%;
  display: flex;
  .left {
    width: 48px;
    height: 100%;
    background: #fafafa;
    ul {
      padding-top: 14px;
    }
    li {
      font-family: 'Roboto Mono', monospace;
      text-align: center;
      color: #808080;
      font-size: 20px;
      padding-bottom: 18px;
    }
    @media(max-width: 767px) {
      li {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .right {
    width: 100%;
    ul {
      padding-top: 17px;
    }
    li {
      text-align: left;
      font-size: 18px;
      padding-left: 12px;
      padding-bottom: 21px;
    }
    @media(max-width: 767px) {
      li {
        font-size: 14px;
      }
    }
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
@media(max-width: 768px) {
  .cameraWraper {
    height: auto;
  }
  .cameraShow {
    width: 100% !important;
  }
  .lastScan {
    border-radius: 8px;
    padding: 7px 34px;
    display: flex;
    width: calc(100% - 30px);
    margin: 0 auto;
    top: auto;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, 0);
    background: rgba(255,255,255,0.71);
    border: 1px solid rgba(255,255,255,1);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
    &__content {
      color: rgba(0,0,0,1);
      background: transparent;
      border: none;
      padding: 0;
      margin-left: 8px;
    }
  }
}