.white-separator {
    height: 10px;
}

.form-text {
    display: block;
    margin-bottom: 0.35rem;
}

.form-control {
    width: 40%;
}

.form-key-pair {
    width: 65%;
}

.center {
  display: block;
  margin: auto;
}

.safe-warning {
	width: 400px;
	height: 72px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0;
	color: #4e4e4e;
}

.read-before-decode {
	width: 194px;
	height: 24px;
	font-size: 18px;
    margin-bottom: 0.5rem;
}

.safe-warning-border {
    border: 1px solid #dcca85;
}

.rectangle-copy-2 {
	width: 150px;
	height: 36px;
	background-color: #dcca85;
	border-radius: 4px;
}