.warning {
  padding: 20px 20px 25px 30px;
  background-color: #fffefc;
  border-radius: 4px;
  border: solid 2px #e5c875;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  @media(max-width: 767px) {
    flex-direction: column;
  }
  svg {
    width: 30%;
    margin-right: 25px;
  }
  .warningTitle {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .warningDescription {
    font-size: 16px;
    color: #4e4e4e;
    // border-bottom: solid 1px #e4e4e4;
    padding-bottom: 16px;
  }
  .network {
    &__wraper {
      padding-top: 16px;
      img {
        width: 28px;
        margin: 0 6px;
      }
      span {
        margin-left: 10px;
        border-radius: 4px;
        color: #ffffff;
        padding: 2px 11px;
      }
    }
  }
}