.warning {
  padding: 17px 20px 15px 30px;
  background-color: #fffefc;
  border-radius: 4px;
  border: solid 2px #e5c875;
  margin-top: 20px;
  margin-bottom: 30px;
  @media(max-width: 767px) {
    flex-direction: column;
  }
  svg {
    width: 30%;
    margin-right: 25px;
  }
  .warningTitle {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .warningDescription {
    font-size: 16px;
    color: #000000;
  }
}