.content {
  margin-top: 40px;
  @media(max-width: 768px) {
    padding: 0 15px;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    a {
      font-size: 18px;
    }
  }
}
.explain {
  position: relative;
  padding: 33px 40px;
  background-color: #FFFBEF;
  margin-bottom: 20px;
  &__content {
    margin-top: 0;
  }
  &__title {
    font-weight:bold;
    font-size:20px;
  }
  &__secondtitle {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    padding-left: 15px;
    margin: 14px 0;
    &:before {
      content: '';
      background: #E5C875;
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
    }
  }
  .noteIcon {
    position: absolute;
    top: 0;
    left: 22px;
  }
}
.divider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .dotLine {
    height: 100%;
    width: 0px;
    border-left: 1px dotted #ced4da;
  }
  span {
    font-size: 17px;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 29px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border:1px solid rgba(0,0,0,1);
    border-radius:50%;
  }
}

.passphrase {
  // margin-top: 40px;
  display: flex;
  flex-direction: column;
  .switchbutton {
    align-self: flex-end;
    margin-bottom: 12px;
  }
  &__real {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    &> div {
      font-size: 16px;
      // color: #4a83bf;
      // text-decoration: underline;
      // cursor: pointer;
    }
  }
  .resetContent {
    cursor: pointer;
    font-size: 14px;
    color: #0c0a03;
  }
  &__input {
    margin-top: 20px;
    margin-bottom: 6px;
  }
  &__description {
    display: flex;
    justify-content: space-between;
  }
}
.inputContent {
  // margin-top: 14px;
  margin-top: 0;
  margin-bottom: 60px;
  .textarea {
    margin-bottom: 20px;
  }
  .button {
    min-width: 150px;
    color: #000000;
  }
}

.steptitle {
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.middleStyle {
  width: 36px;
  height: 36px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  border: solid 1px #ced4da;
  background: #fff;
  text-align: center;
  position: relative;
  font-size: 20px;
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 2px;
    height: 214px;
    border-left: 2px dotted #ced4da;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.outputComponent {
  position: relative;
  .outputTitle  {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .control {
    overflow: hidden;
    span {
      background: #ffffff;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      &:nth-child(2) {
        border-radius: 0px;
        transform: translate(-100%, 0);
        border-left: 1px solid #ced4da;
        border-right: 1px solid #ced4da;
      }
    }
    .input {
      padding-right: 72px;
    }
  }
  .popover {
    border: 1px solid #ced4da;
    background: #ffffff;
    position: absolute;
    bottom: 42px;
    right: 0;
    padding: 6px;
    border-radius: 4px;
    z-index: 2;
  }
}
.currencyTitle {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}
.commonTitle {
  font-size: 20px;
}

.commonDescription {
	font-size: 16px;
  color: #1d1d1d;
  margin-top: 6px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}
.inputWraper {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
}

.inputItem {
  text-transform: uppercase;
  -webkit-appearance: initial;
  margin: 0 3px;
  font-family: 'Roboto Mono', monospace;
	width: 38px;
	height: 40px;
  border: solid 1px #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 0;
  text-align: center;
  border-radius: 4px;
  &:focus {
    border-color: #e3c46a;
    outline: 0;
  }
  @media(max-width: 768px) {
    font-size: 16px;
    width: 12px;
    margin: 0 1px;
    border: none;
    border-bottom: 1px solid #e3c46a;
    border-radius: 0;
    padding: 0;
  }
}

.symbolInput {
  position: relative;
  width: 10px;
  border: none;
  margin-right: 0px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 2px;
    background: #000000;
  }
  @media(max-width: 768px) {
    align-items: center;
    font-size: 16px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.privateKeyDescription {
  display: flex;
  justify-content: space-between;
}
.buttonwraper {
  display: flex;
  align-items: center;
}
.readQrcodeButton {
  margin-left: 18px;
  position: relative;
  cursor: pointer;
}
.readQrcodeModal {
  position: absolute;
  bottom: 34px;
  right: 0;
  width: 266px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.readQrcodeText {
  display: flex;
  align-items: center;
  border: solid 1px #000000;
  border-radius: 4px;
  padding: 4px 10px;
  position: relative;
  svg {
    width: 18px;
    margin-right: 8px;
  }
}

.columns {
  justify-content: space-between;
}
a {
  color: #4A83BF;
  word-break: break-all;
  &:hover {
    color: #4A83BF;
  }
}
@media(min-width: 1023px) {
  .is-5 {
    width: 47% !important;
  }
  
  .is-2 {
    width: 6% !important;
  }
}
.display {
  &__area {
    padding-top: 36px;
    padding-bottom: 40px;
  }
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      margin-top: 10px;
      color:rgba(128,128,128,1);
    }
  }
  &__resulttext {
    font-size: 14px;
    max-width: 492px;
  }
  &__success, &__failed {
    margin-bottom: 40px;
    background: #F8F8F8;
    max-width: 938px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 14px;
    }
  }
}
